body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    width: 400px;
    min-height: 400px;
    scroll-behavior: smooth;
}

#root {
    min-height: 100%;
}

#ah-content-wrapper {
    max-height: 480px;
    overflow-y: auto;
    scroll-behavior: smooth;
}


